// Responsive breakpoints
@import '../../stylesheets/breakpoints.scss';

// UI variables
@import '../../Components/UI/UIControls/UIControls.scss';

$toggle-width: 30px;
$toggle-height: 30px;

section.ui-controls {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: transform 0.3s ease-in;
    overflow-y: scroll;
    z-index: 99;
    background: white;

    &.hide {
        transform: translateX(-100%);
    };

    #searchButton {
        margin-top: 1rem;
    };

    @media screen and (min-width: $tablet) {
        width: 50%;
        border-right: 1px solid $ui-background-color;
    }

    @media screen and (min-width: $small-desktop) {
        width: 30%;
    };

    @media screen and (min-width: $large-desktop) {
        width: 20%;
    };
};
