.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    z-index: 90;
    display: flex;
    align-items: center;
    justify-content: center;
}