.modal-recipe {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 40;
    };

    .recipe-details {
        width: 80%;
        max-height: 80%;
        margin: auto;
        overflow-y: auto;
        background: rgba(255,255,255,0.7);
        z-index: 99;
        padding: 1rem;

        a {
            width: auto;
        }
    };
}