@import '../../UIControls.scss';

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: $ui-font-size * 1.3;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input[type='checkbox'] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked {

            &~ .checkmark {
                background-color: $ui-background-color;

                &:after {
                    display: block;
                };
            }
        }
    };

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        border: $ui-base-border;
        border-radius: $ui-border-radius;
        background-color: $ui-secondary-color;

        &:after {
            content: "";
            position: absolute;
            display: none;

            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid $ui-secondary-color;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        };
    };

    &:hover {
        input ~ .checkmark {
            background-color: $ui-secondary-color;
        }
    };
};