$ui-primary-color: #333;
$ui-primary-hover-color: darken($ui-primary-color, 10%);

$ui-secondary-color: #fff;
$ui-secondary-color-hover: darken($ui-secondary-color, 10%);

$ui-background-color: rgb(107, 196, 107);
$ui-background-hover-color: darken($ui-background-color, 10%);

$ui-alert-color: rgb(194, 18, 18);

$ui-disabled-color: #bbb;

$ui-font-face: Arial;
$ui-font-size: 1rem;
$ui-font-weight: normal;
$ui-font-weight-bold: bold;

$ui-button-bg-color: rgb(107, 196, 107);
$ui-button-hover-color: darken($ui-button-bg-color, 10%);
$ui-button-disabled-color: #ccc;

$ui-border-color: $ui-background-color;
$ui-base-border: 1px solid $ui-border-color;
$ui-border-radius: 0.3rem;

$ui-base-padding: 0.5rem;
$ui-base-margin: 0.5rem;

$control-header-height: 3rem;

.control-section {
    border: 1px solid $ui-primary-color;
    margin-top: 1rem;

    h3 {
        margin: 0;
        height: $control-header-height;
        line-height: $control-header-height;
        background-color: $ui-background-color;
        padding-left: 1rem;
        cursor: pointer;
        color: $ui-primary-color;

        &:hover {
            background-color: $ui-background-hover-color;
        };

        &:after {
            content: '';
            display: block;
            float: right;
            height: 0px;
            margin-top: 0.4rem;
            margin-right: 1rem;
            border: 10px solid transparent;
            border-bottom-color: $ui-secondary-color;
            border-top-color: transparent;
        };
    };

    .control-section-content {
        padding-top: 0.5rem;
    };

    &.closed {
        h3 {

            &:after {
                margin-top: 1.1rem;
                border-bottom-color: transparent;
                border-top-color: $ui-secondary-color;
            };
        }

        .control-section-content {
            display: none;
        };
    };
};