@import '../UIControls.scss';

.select-wrapper {
    position: relative;
    width: 200px;
    float: left;
    margin-left: 5rem;
    
    select {
        border: 0;
        appearance: none;
        height: 30px;
        line-height: 30px;
        width: 100%;
        border: 1px solid $ui-background-color;
        padding-left: 1rem;
        color: $ui-primary-color;

        &::-ms-expand {
            display: none;
        }

        &:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 $ui-background-color;
        }

        option {
            height: 100px;
            line-height: 100px;
        };
    };

    .select-arrow {
        background: $ui-background-color;
        position: absolute;
        right: 0px;
        top: 0px;
        width: 30px;
        height: 30px;
        display: block;
        z-index: 99;
        margin: 0;
        pointer-events: none;
        display: flex;
        align-content: center;
        align-items: center;

        &:after {
            margin: auto;
            display: block;
            content: '';
            width: 0; 
            height: 0; 
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            
            border-top: 8px solid $ui-secondary-color;
            z-index: 99;
        };
    };

    &.disabled {
        
        select, .select-arrow {
            background: $ui-disabled-color;
        };
    };
};
